<div class = "devise_home" >
<div class="sign_in">
  <h2>Log in</h2>
  
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email",class: "sign_in_button" %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password",class: "sign_in_button" %>
  </div>
  <div class = "checkbox">
  <% if devise_mapping.rememberable? %>
    <div class="field-c">
      <%= f.check_box :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in",class: "sign_in_button_submit" %>
  </div>
  </div>
<% end %>
  <div class = "devise_sub_sign_in">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name),class: "sign_in_sign_up" %><br />
  <% end %>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name),class: "sign_in_forget" %><br />
  <% end %>
  </div>
</div>
</div>