<!DOCTYPE html>
<html>
  <head>
    <title>Comuniect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = "header_contetns">
      <% if user_signed_in ? %>
        <a class="header_content" href = "/users/sign_out" data-method = "delete"><p>ログアウト</p></a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
